PORT=8000
ADMIN_SECRET=my_super_secret_admin_key
NODE_ENV=production
NTFY_ENABLED=true
NTFY_TOPIC=my_secret_hosting_topic
NTFY_SERVER=https://ntfy.sh
NTFY_AUTH=Bearer tk_your_access_token
NTFY_PREFIX=!
