# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example
services.json

# Logs
*.log
npm-debug.log*

# Database & SQLite files
*.db
*.db-wal
*.db-shm

# OS files
.DS_Store
Thumbs.db