{
  "settings": {
    "publicPort": 25575,
    "restartDelayMs": 3000,
    "maxCrashCount": 5,
    "crashWindowMs": 60000,
    "autoWatchConfig": true,
    "ntfyEnabled": true,
    "ntfyTopic": "my_secret_hosting_topic",
    "ntfyServer": "https://ntfy.sh",
    "ntfyAuth": "Bearer tk_your_access_token",
    "ntfyPrefix": "!",
    "ntfyAliases": {
      "deploy": "exec my-folder npm run start"
    }
  },
  "services": {
    "discord-bot": {
      "enabled": true,
      "port": 8004,
      "routes": ["/"],
      "install": true,
      "build": false,
      "subProjects": [
        {
          "name": "dashboard",
          "path": "dashboard",
          "install": true,
          "build": true
        }
      ]
    },
    "ndfy": {
      "enabled": true,
      "port": 8003,
      "routes": ["/ndfy", "/ntfy"],
      "install": true,
      "build": true
    },
    "discord-assistant": {
      "enabled": true,
      "install": true,
      "build": false
    }
  }
}
